* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

.grid {
  width: 100%;
  font-size: 0;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 100%;
  float: left;
  padding: 0!important;

  img {
      width: 100%;
  }
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
